*{
  /* border:1px solid red; */
  /* overflow-x: hidden; */
}

body{
    margin: 0px;
	height: 100%;
	width: 100%;
}
.top{
   width: 100%;
    height: 6vw;
    /* max-height: 500vh; */
    min-height: 50px;
    background-color: black;
}

.top-inner{
    position: relative;
    background-color: rgb(64, 0, 255);
    margin: 0;
    height: 4vw;
    min-height: 35px;
    width: 79rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav {
	z-index: 10;
	left: 0;
	right: 0;
	top:0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
    height: 6vw;
    min-height: 56px;
	background-color: #fff;
}

nav .logo {
	float: left;
	width: 100px;
	height: 32px;
	position: absolute;
	top: 7%;
    left: 5rem;
    transform: translate(-50%, -45%);
	font-size: 0px;
	color: #fff;
}
nav .links {
	padding-left: 8rem;
	margin: 0;
	width: 40%;
	font-family:'SamsungOne',arial,sans-serif ;
	height: 95%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	}

nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
nav .right-links a {
	margin: 8px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 2%;
	top: 6%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 20px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	margin: 3px;
	border-radius: 0px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 1255px) {
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

#navbar {
	position: sticky;
    overflow: hidden;
    background-color: rgb(32, 36, 37);
	width: 100%;
	height:60px;
  z-index: 200;
    }
#navbar h3{
	display: block;
	padding-left: 20px;
	padding-top: 0px;
	font-size: 18px;
	font-family: 'SamsungSharpSans',arial,sans-serif;
	color: #fff;
	margin: 0px;
	position: absolute;
	top: 20px;
	z-index: 150;
}

#down-nav{
	position: sticky;
	overflow: hidden;
	width: 100%;
	height:50px;
	background-color: rgb(28, 31, 31)
}

.hide{
	display: none;
}
.downlist{
	top:125px;
	left:7px;
	font-family:'SamsungOne',arial,sans-serif ;
	display: inline-flex;
}

.downlist li{
	list-style: none;
}

.downlist a{
	display: block;
	margin: 20px;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

    .content {
    padding: 16px;
    width: 100%;
    height: auto;
   padding-left: 0px;
    }

    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }

	.downsticky{
		position: fixed;
		top: 60px;
		width: 100%;
	}

   .content +.downsticky{
    padding-top: 60px;
    }

  #navbar .navbar-links{
	transform: translateY(-7px);
	padding-left: 750px;
	width: 40%;
	font-family:'SamsungOne',arial,sans-serif ;
	display: inline-flex;
	/* align-items: center; */
	}
		
#navbar .navbar-links li {
	list-style: none;
	}
#navbar .navbar-links a {
	display: block;
	margin: 14px;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
		}

.title{
	padding-top: 100px;
	width: 350px;
	font-size: 29px;
	line-height: 38px;
	max-width: 640px;
	margin: 0 auto;
	font-family: 'SamsungSharpSans';
	font-weight: bold !important;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: normal;
	text-transform: none;
  }

  .title-two{
	padding-top: 1px;
	width: 800px;
	font-size: 29px;
	line-height: 38px;
	/* max-width: 700px; */
	margin: 0 auto;
	font-family: 'SamsungSharpSans';
	font-weight: bold !important;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: normal;
	text-transform: none;
  }

  .sampic{
	padding-top: 150px;
	height: auto;
	width: 100%;
	/* background-color: #000000; */
  }


.desc{
	width: auto;
	display: block !important;
	padding: 20px 0 160px;
	text-align: center;
	width: 900px;
	margin: 0 auto;
}

.desc1{
font-family: 'SamsungOne';
font-size: 22px;
line-height: 34px;
}

.desc2{
	margin-top: 20px;
	font-size: 22px;
	line-height: 24px;
	font-family: 'SamsungOne';
	font-weight: bold !important;
  }

.c-area-1{
	width: 400px;
	padding: 0px 90px 0px 170px;
	max-width: 900px;
}

.area1{
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	font-family: 'SamsungOne';
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.area2{
	font-weight: normal;
	font-size: 32px;
	line-height: 42px;
	margin-top: 25px;
	font-family: 'sssM',sans-serif;
}

.c-area-2{
	width: 450px;
	/* padding: 0px 90px 0px 650px; */
	max-width: 900px;
	position: relative;
	top: -115px;
	padding-left: 630px;
}

.area-2-desc{
	font-size: 17px;
line-height: 26px;
font-family: 'SamsungOne';
position: relative;
}



label input {
    display: none;
	}
  
  .circle-button {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  .circle-button span {
    display:inline-block;
    position:relative;
	justify-content: space-between;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 100%;
    background: #eeeeee;
	border: 1px solid #555a68;
    transition: ease .3s;
  }
.color-name{
	display: block;
	height: 30px;
	width: max-content;
	
}

  
  .cloud-navy .circle-button span {
    background: #485167;
  }
  
  .cloud-lavender .circle-button span {
    background: #dfcce7;
  }
  
  .cloud-mint .circle-button span {
    background: #b6cfcf;
  }
  

  .button_area{
  /* padding-top: 800px; */
  position: absolute;
  top: 174rem;
  left: 38%;
text-align: center;
  }

  .see_button{
    width: 350px;
    /* margin-top: 1000px; */
    position: relative;
    display: inline-block;
    padding: 25px 90px 25px 20px;
    border: 1px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
    vertical-align: top;
    transition: border .25s, background .25s;
    text-align: center;
  }

  .details{
    display: block;
  font-family: 'sssM';
  font-size: 12px;
  letter-spacing: .16em;
  transition: color .25s;
  text-align: left;
  }
.arrows{
  position: absolute;
top: 7px;
bottom: 7px;
right: 0;
width: 70px;
border-left: 1px solid #000;
transition: border .25s;
}

.arrows::after{
  position: absolute;
top: 50%;
left: 50%;
width: 25px;
height: 12px;
transform: translate(-50%, -50%);
content: '';
background: url('arrows.webp') no-repeat;
  background-size: auto;
background-size: 100% auto;
}


.connect{
	width: 400px;
	padding: 0px 90px 0px 170px;
	max-width: 900px;
}

.connect1{
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	font-family: 'SamsungOne';
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: white;
}

.connect2{
	font-weight: normal;
	font-size: 32px;
	line-height: 42px;
	margin-top: 25px;
	font-family: 'sssM',sans-serif;
	color: white;
}

.connect-area-2{
	width: 450px;
	/* padding: 0px 90px 0px 650px; */
	max-width: 900px;
	position: relative;
	top: -115px;
	padding-left: 630px;
}

.connect-area-2-desc{
	font-size: 17px;
line-height: 26px;
font-family: 'SamsungOne';
position: relative;
color: white;
}

@media screen and (max-width: 1200px) {

	#navbar{
	position: sticky;
    overflow: hidden;
    background-color: #202425;
	width: 100%;
	height:70px;
	}
	#navbar .navbar-links{
		padding-left: 12rem;
		padding-top: 50px;
		width: 500px;
		font-family:'SamsungOne',arial,sans-serif ;
		display: inline-flex;
		/* justify-content: space-around; */
		align-items: center;
		}

	#navbar .navbar-links a {
		font-size: 17px;
		margin: 14px;
	}

	.down-nav{
		z-index: 110;
		height: 120px;
		background-color: #151414;
	}

	.downlist{
		top:125px;
	}

	.downlist a{
		font-size: 17px;
		margin: 14px;
	}

	.hide{
		display: block;
	}
}


